# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Django #
##########
visualizer/settings.py
visualizer/__pycache__/wsgi.cpython-39.pyc
